<!-- {{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}} -->
{{extend 'layout.html'}}

<!-- CODE linking to FB and Twitter SDKs -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>





<h2>Welcome to the SAFE Project</h2>

<div class='col-sm-8'>

<p>The SAFE Project is one of the largest ecological experiments in the world. We are studying how biodiversity and ecosystem function change as forests are modified by human activities. As well as studying the change, we also explore whether preserving sections of forest within modified landscapes and around waterways can protect biodiversity and ecosystem function, and how much protection is needed to be effective.</p>

    <p>SAFE is one of three large-scale field experiments managed by the South East Asia Rainforest Research Partnership (<a href=http://www.searrp.org/>SEARRP</a>), and represents a close collaboration with <a href=http://www.imperial.ac.uk>Imperial College London</a> and local partners. Our scientific research encompasses expertise from many institutions, each running interlinked projects to better understand the ecology of changing landscapes. At the moment, there are:</p>

<ul>
<li> {{=B(n_proj, ' projects ')}} completed, in progress or being developed at the SAFE Project.</li>
<li> {{=B(len(ra_string), ' research areas ')}} that cover the breadth of research at the SAFE Project.</li>

<li> {{=B(n_researchers, ' researchers ')}} participating in planning and carrying out these projects and hundreds more who have worked with the vital data collected at the SAFE Project.</li>
<li> {{=B(n_outputs, ' recorded outputs ')}} that researchers have linked to from this site.</li>
</ul>

<h3>Recently at SAFE</h3>
<p>The most recent {{=A('news', _href=URL('news','news'))}}, {{=A('blogs', _href=URL('blogs','blogs'))}}, {{=A('projects', _href=URL('projects','projects'))}} and {{=A('outputs', _href=URL('outputs','outputs'))}} from the SAFE Project.</p>

{{=news_carousel}}

<!-- <h3>Where is the SAFE Project?</h3>

<p>The SAFE Project is based in a landscape of conservation areas and oil palm plantation in the Malaysian state of Sabah on the island Borneo (Map A). Researchers study natural and lightly logged forests in the {{=A('Danum Valley Conservation Area', _href="http://www.searrp.org/danum-valley/")}} (Map B1), {{=A('Maliau Basin Conservation Area', _href="http://maliaubasin.org/")}} (Map B2) and the SAFE Virgin Jungle Reserve (Map B3). We study oil palm plantations and logged forest in the landscape around these areas.</p>

<p>The SAFE Experimental Area (Map B4 and Map C) is where the {{=A('designed experiment', _href=URL('info', 'design'))}} is located. We have preserved replicated forest fragments of varying sizes and riparian buffer zones around streams in an area selected for development as oil palm plantation.
</p>
{{=CENTER(IMG(_src=URL('static', 'images/core_science/SAFE_overview_map.png'), _width='90%'))}} -->


<h3>Watch the video</h3>

<iframe width="300px" height="200px" src="https://www.youtube.com/embed/yco5xhShYFs" frameborder="0" allowfullscreen></iframe>

<h3>Where is the SAFE Project?</h3>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7716117.079476027!2d114.12650172120809!3d1.7973750285521617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNMKwNDMnMjQuNCJOIDExN8KwMzYnMDMuMiJF!5e1!3m2!1sen!2suk!4v1467213222017" width="300px" height="200px" frameborder="0" style="border:0" allowfullscreen></iframe>



</div>	

<!-- Social media feeds as sidebars -->

<div class='col-sm-4'>

<!-- <a href="https://twitter.com/safe_project" class="twitter-follow-button" data-show-count="false">Follow @safe_project</a>
<div class="fb-follow" data-href="https://www.facebook.com/SAFEProjectMalaysia" data-width="300" data-layout="button" data-show-faces="true"></div> -->

<div class='well'>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<a class="twitter-timeline" data-height=600
  href="https://twitter.com/safe_project">
Tweets from the @SAFE_project
</a>
</div>


<div class='well'>

<div class="fb-page" data-href="https://www.facebook.com/SAFEProjectMalaysia" data-tabs="timeline" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/SAFEProjectMalaysia" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/SAFEProjectMalaysia">SAFE Project</a></blockquote></div>
</div>

<!-- <div class='well' style='padding: 5px 19px 19px 19px'>
<h4 style='margin:5px'>SAFE Project on {{=A(IMG(_src=URL('static','images/white-flickr.png'), _width="60", _height="26"), _href='https://www.flickr.com/photos/safeproject/')}}</h4>
<iframe src="https://www.flickr.com/photos/safeproject/10070040533/player/" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen width=100%></iframe>
</div> -->


</div>
