{{extend 'layout.html'}}

{{=H2('SAFE dataset submission')}}

<p>It is a requirement of working at SAFE that you provide us with a copy of your data. We will validate your dataset and then publish it on Zenodo, which will provide a permanent home for your data and assign it a permanent DOI.  This page allows you to submit a dataset and follow the progress through to publication.</p>

<p>This submission process only accepts datasets stored in Microsoft Excel files - please contact us about other kinds of data. You will need to format your file to provide some simple metadata and detailed instructions on the file format can be found <a href='https://safe-dataset-checker.readthedocs.io'>here</a>. We realise it takes time and effort to get the data formatted correctly but the information you add is vital to make sure that we can archive your data properly and make it easy for future researchers to find it and benefit from it.</p>

<p>Remember that the information you provide will become part of the permanent record on the published dataset - you should make the data and description as clear and informative as possible. Note that the metadata description of your dataset will be visible in Zenodo as soon as it is published, but you can choose to embargo your data for up to two years. The data itself will only be accessible after the embargo period has expired.</p>

<h4>Authorship and Funding </h4>

You will need to provide a list of authors for submitted datasets, which will form part of the permanent citation for the published dataset. Authorship on published datasets should be treated in the same way as you would consider authorship on papers: you should include not only the people responsible for physically collecting the data but also other researchers who facilitated the work, such as project supervisors and local collaborators. Similarly, you must acknowledge any funding that supported your research.

{{=resubmit}}


{{=submit_info}}

<br>
{{=form}}
<br>
{{=vsn_hist}}
