{{extend 'layout.html'}}

{{=H2('SAFE Project Datasets')}}

<p>The table below shows published datasets collected at the SAFE Project. All submitted datasets are first checked to make sure that they contain the required metadata. Once they have passed that checking, we then publish all datasets to the <a href='https://www.zenodo.org'>Zenodo</a> data repository and are added to this table.</p>

<br>
{{=form}}
<br>
