{{extend 'layout.html'}}

{{=H2('SAFE Project Dataset')}}

<DIV class='panel panel-default'>
<DIV class='panel-heading'>
		{{=H4(record.dataset_title)}}
</DIV>
{{=history_table}}
<DIV class='panel-body'>
<DIV class='row'>
	<DIV class='col-sm-12'> 
		{{=description}}
	</DIV>
</DIV>
</DIV>
</DIV>
