{{extend 'layout.html'}}


{{=H2('Logistics and costs')}}

<p>You will need to think carefully about the logistics of your research at SAFE: make clear plans for when you need to be at different sites and budget for field costs. You will need to budget for:</p>

<UL> 
<LI>transport, </LI>
<LI>accomodation, food and admin costs, and</LI>
<LI>research assistant support.</LI>
</UL>

<p>The charges below apply to scientists, students, overseas volunteers, external research assistants, project supervisors and scientists/students on planning visits. For projects requiring extensive vehicle or research assistant use please email the <a href={{="mailto:{}".format(frm.email)}}>Field Research Manager</a> for special rates.</p>

<div class="alert alert-danger" role="alert">
<p>All charges are subject to change without notice. In particular, please note the <u>recent updates below</u> to accomodation charges at SAFE base camp and to booking accomodation at Maliau Basin. </p>
</div>



{{=H3('Transport')}}

<p>The core research areas in the SAFE project are split between two locations: the experimental and cleared areas at SAFE and the old growth forest sites at the Maliau Basin Conservation Area. Within Maliau, the sites are most easily accessed on foot, but at SAFE the distances involved often mean you will need transport to and from sites.</p>

<p>The SAFE Project can provide both transfers between sites and transport around the experimental area, using our fleet of four Land Rover Defender 110 and three Ford Ranger 2.2 XLT. These vehicles are driven by our trained and experienced staff and for safety reasons, may not be driven by anyone else, unless under emergency circumstances. Exceptions may be granted for long-term researchers with formal training in off-road driving.</p>

<p>We charge RM 100 per hour for these services -- this is charged per person, regardless of the number of occupants in the vehicle. The example costs below indicate the the average transport times and costs, although timings can be greatly affected by road conditions.</p>

{{=H4('Transfers')}}

<p>Pick-up and drop-offs from Tawau town or Tawau airport can be arranged on Wednesdays and Sundays, subject to availability of vehicles and drivers and at the discretion of the Scientific Coordinator. You will need to include transfers in your research visit plan, which you will need to submit at least a fortnight before you plan to come to the field.</p>

<p>Because of the distances and the nature of the roads involved, we strongly discourage anyone from requesting same-day return trips to and from Maliau.  Same-day return trips between Tawau and SAFE are possible.  Transfers between Tawau, SAFE field camp and Maliau Basin Studies Centre are charged at the rates below and are the same as those charged by SEARRP at Danum Valley.</p>

<TABLE width='100%' class="table table-striped">
<TR><TH>Transfer</TH><TH>Driving time</TH><TH>One way journey cost (approx.)</TH></TR>
{{=CAT([TR(TD(v['name']), TD(v['drive_time']), TD('RM ' + str(v['cost']))) for k, v in costs['transfers'].iteritems()])}}
</TABLE>

<p>It is also possible to arrange transfers using vehicles and drivers from Maliau Basin. These will need to be arranged separately and have different costs:</p>

<TABLE width='100%' class="table table-striped">
<TR><TH>Transfer</TH><TH>Driving time</TH><TH>One way journey cost (approx.)</TH></TR>
{{=CAT([TR(TD(v['name']), TD(v['drive_time']), TD('RM ' + str(v['cost']))) for k, v in costs['transfers_maliau'].iteritems()])}}
</TABLE>


{{=H4('Transport around the SAFE Project experimental area')}}

<p>Due to high demand and the large extent of the SAFE Project area, most researchers get drop-off and pick-ups at designated points and times, or share vehicle if they are working at nearby areas. Note that if the vehicle needs to drop you off, return to camp and then come out to pick you up in the afternoon, you will be charged for the full amount of time the vehicle is on the road.</p>

<TABLE width='100%' class="table table-striped">
<TR><TH>Location</TH><TH>Driving time</TH><TH>One way journey cost (approx.)</TH></TR>
{{=CAT([TR(TD(v['name']), TD(v['drive_time']), TD('RM ' + str(v['cost']))) for k, v in costs['transport'].iteritems()])}}
</TABLE>


{{=H3('Accommodation, food and admin costs')}}

{{=H4('SAFE experimental area')}}

<p>Within the experimental area, the SAFE project has built a field camp with beds, cooking and toilet facilities, and is powered by generator in the evening. We also provide food for researchers staying at SAFE and basic camp and office facilities like electricity, laser printing, scanning, satellite TV, etc.</p>

<div class="alert alert-danger" role="alert">
<p>	Our current charges were set seven years ago now and we're unfortunately unable to continue offering these low rates.  From <u>August 1, 2017</u>, we will be changing our daily rates of RM 25 to the new values below.
</p>
<p>	We will also begin asking for <u>payment in advance</u> of accommodation charges, requested on arrival at SAFE camp. We will, of course, issue receipts immediately for all payments.
</p></div>

<TABLE width='100%' class="table table-striped">
<TR><TH>Category</TH><TH>Standard cost</TH></TR>
{{=CAT([TR(TD(v['name']), TD('RM ' + str(v['cost']))) for k, v in costs['safe_costs'].iteritems()])}}
</TABLE>


{{=H4('Maliau Basin')}}

<div class="alert alert-danger" role="alert">
MBFC are currently in the process of:
<ol>
<li> changing the way they want bookings handled,</li>
<li> and updating their costs.</li>
</ol>
Please read the notes below carefully. In particular, <u>the costs may not be accurate</u> - we will update them once we know the new costings.
</div>

<p>Researchers at Maliau Basin typically stay in rooms in the Scientists' Annex or dormitories in the  Hostel. Food is provided at an on-site cafeteria, although you may be able to self-cater by prior arrangement. You will also need to pay access and admin fees to work at Maliau Basin. The charges are shown below -- the Royal Society SEARRP can usually provide a letter of support for SAFE Project researchers that allows you to qualify for the discounted rate.</p>

<p> MBFC now require all bookings to be made <b>two weeks in advance</b>, and for <b>payment to also be made in advance</b>.  To facilitate this, we have updated SAFE's online booking system to automatically notify MBFC of any request for accommodation that you make. This notification will be in the form of an email that will be cc'ed to you, and MBFC will invoice you directly. It is <strong>your responsibility</strong> to notify MBFC of any changes to your booking; SAFE management will not amend your bookings on your behalf.</p>

</br>


<TABLE width='100%' class="table table-striped">
<TR><TH>Category</TH><TH>Standard cost</TH><TH>Discounted cost</TH><TH>Monthly rate</TH></TR>
<TR><TD colspan=4><strong>Maliau Basin entry permits</strong> (per person or vehicle for each visit)</TD></TR>
{{=CAT([TR(TD(XML("&nbsp;&nbsp;&nbsp;" + v['name'])), TD('RM ' + str(v['standard'])), 
           TD('RM ' + str(v['discount'])), TD('RM ' + str(v['month']))) for k, v in costs['maliau_entry'].iteritems()])}}
<TR><TD colspan=4><strong>Accomodation</strong> (per night)</TD></TR>
{{=CAT([TR(TD(XML("&nbsp;&nbsp;&nbsp;" + v['name'])), TD('RM ' + str(v['standard'])), 
           TD('RM ' + str(v['discount'])), TD('RM ' + str(v['month']))) for k, v in costs['maliau_accom'].iteritems()])}}
<TR><TD colspan=4><strong>Food</strong> (per person per meal)</TD></TR>
{{=CAT([TR(TD(XML("&nbsp;&nbsp;&nbsp;" + v['name'])), TD('RM ' + str(v['standard'])), 
           TD('RM ' + str(v['discount'])), TD('RM ' + str(v['month']))) for k, v in costs['maliau_food'].iteritems()])}}
</TABLE>



{{=H3('Research assistants')}}

<p>Lone working is not permitted for Health and Safety reasons.  We require all new researchers and field workers to take one of our Research Assistants to familiarise themselves with the locations of study sites and trails.  At the discretion of the Scientific Coordinator, researchers working in pairs or with their own volunteers are able to work without SAFE Project Research Assistants.  Rates for Research Assistants are the same as those charged by SEARRP at Danum Valley. Working at night (6 pm -- 6 am) incurs a 50% surcharge and if trained RAs are required to provide canopy access or rigging than a 100% surcharge is applied to cover safety equipment replacement and maintenance.</p>

<p>
Many researchers working at SAFE take SAFE Research Assistants to Maliau with them, but it is likely to be cheaper to hire Maliau Rangers for RM 10 per hour. Contact MBFC directly if you want to hire their field staff; SAFE management will not manage bookings for Maliau staff on your behalf.
</p>

<TABLE width='100%' class="table table-striped">
<TR><TH>Category</TH><TH>Standard cost</TH><TH>Night work</TH><TH>Canopy access</TH></TR>
{{=CAT([TR(TD(XML("&nbsp;&nbsp;&nbsp;" + v['name'])), TD('RM ' + str(v['Standard'])), 
           TD('RM ' + str(v['Night work'])), TD('RM ' + str(v['Rope work']))) for k, v in costs['ra_costs'].iteritems()])}}

</TABLE>

